<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New words</title>

    <style>

        * {
            margin: 0;
            padding: 0;
            border: none;
            box-sizing: border-box;
        }

        body {
            background-color: #febe08;
            font-family: Helvetica, sans-serif;
            padding-top: 100px;
        }

        #main-container {
            display: flex;
        }

        /* add words */
        section#add-word {
            background-color: rgba(0, 0, 0, .1);
            padding: 40px;
            border-radius: 20px;
        }
        section#add-word textarea, #add-word label{
            display: block;
        }

        section#add-word textarea {
            background: rgba(0, 0, 0, .1);
        }

        #add-word input, #add-word textarea {
            width: 100%;
            margin-bottom: 20px;
            outline: none;
            color: #fff;
            font: 14pt normal Arial,sans-serif;
        }

        #add-word input {
            background: none;
            border-bottom: 1px solid #fff;
        }


        #add-word label {
            margin-top: 20px;
            margin-bottom: 5px;
            color: #fff;
            font-weight: bold;
            letter-spacing: 0.5px;
        }

        .btn {
            width: 100%;
            height: 40px;

            background-color: #ed6d4e;
            color: #FFF;
            font-family: Helvetica, sans-serif;
            font-size: 12pt;
            font-weight: bold;
            text-transform: uppercase;

            border-radius: 60px;
            cursor: pointer;
        }

        /* new-words */
        header#header {
            width: 100%;
            padding: 10px;
            top: 0;
            position: fixed;
            /* background-color: #f6f6f6; */
            background-image: url('https://adtemplocentral.com/wp-content/uploads/2016/03/banners-site-cabe%C3%A7alho.png');
            background-size: cover;
        }

        #header ul {
            transform: translateX(80%);
            display: flex;
            position: relative;
        }

        #header li {
            background-color: #ed6d4e;
            padding: 10px;

            border-radius: 8px;

            margin-right: 1%;
            list-style: none;
        }

        #header a {
            text-decoration: none;
            color: #fff;

        }


        #main-container {
            max-width: 90%;
            margin-left: 15%;
        }

        section#new-words {
            padding: 20px;

            margin-left: 100px;

            border-radius: 10px;
        }

        .word {
            width: 600px;
            display: flex;
            background-color: #f6f6f6;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
            border-radius: 8px;
            padding: 32px;
            margin-bottom: 32px;
            font-family: Arial, Helvetica, sans-serif;
            color: #323232;

        }

        .word h3 {
            margin-bottom: 15px;
        }

        .word h2 {
            display: flex;
            margin-left: 20px;
            margin-bottom: 10px;
        }

        .word img {
            margin: 10px;
            width: 80px;
            height: 120px;
            transition: 400ms;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .4)
        }

        .word img:hover {
            width: 150px;
            height: 200px;
        }

        .word h3 {
            margin-left: 30px;

        }

        .word h4 {
            margin-left: 35px;
        }

        .word p {
            margin-left: 40px;
        }

        span.today-word {
            color: red;
        }

    </style>

</head>
<body>
    {{{body}}}
</body>
</html>